body{
    background-color: black;
    color:white;
    display: flex;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    margin:auto;
    min-height: 500px;
}
button{
    border: none;
    padding: 10px 15px;
    background-color:rgb(149, 207, 255) ;
    cursor: pointer;
    border-radius: 5px;
}
p{
    color:mediumorchid;
}    
input{
    outline: none;
}
img{
    width: 200px;
    height: 200px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
}